@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="modelId" name="车型ID" value="${item.modelId}" underline="true"/>
                            <#input id="systemId" name="系统ID" value="${item.systemId}" />
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="tips" name="备注" value="${item.tips}" underline="true"/>
                            <#input id="createTime" name="创建日期" value="${item.createTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AutoModelSystemInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AutoModelSystemInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/ccc/autoModelSystem/autoModelSystem_info.js"></script>
@}
